<html> 
<head>
	<title>تواصل | الامارات العربية المتحدة</title>
	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<!--  -------------- Bootstrap Styles ------------- -->
	<link rel="stylesheet" type="text/css" href="../../../vendor/assets/stylesheets/bootstrap.min.css"/>
	<!--  -------------- Main Styles ------------- -->
	<link rel="stylesheet" type="text/css" href="../../../vendor/assets/stylesheets/style.css"/>
</head>
<body>
	<div >
		<header>
			<div class="row logo-banner">	
				<div class="col-md-4 user-info">
					<div class="user-information pull-right">
						<div class="user">
							<span class="dark-text">ابومحمد الاماراتى</span><br/>
							<span class="light-text"> مبادراتى - بياناتى - خروج</span>
						</div>
						<div class="user-image"><img src="images/profilePic.jpg" width="26" height="26"></div>
					</div>
				</div>

				<div class="col-md-4 social-media">
						<div class="social-media-icon">
							<a href = "http://www.rss.com"><img class="icon-link"src="images/RSS-icon.png"></a>
						</div>
						<div class="social-media-icon" >
							<a href = "http://www.google.com"><img class="icon-link"src="images/google-icon.png"></a>
						</div>
						<div class="social-media-icon" >
							<a href = "http://www.youtube.com"><img class="icon-link"src="images/youtube-icon.png"></a>
						</div>
						<div class="social-media-icon">
							<a href = "http://www.twitter.com"><img class="icon-link"src="images/twitter-icon.png" ></a>
						</div>
						<div class="social-media-icon" >
							<a href = "http://www.facebook.com"><img class="icon-link"src="images/fb-icon.png"> </a> 
						</div>
						<div class="inline-text dark-text">تابعونا</div>
				</div>

				<div class="col-md-4 logo">
					<div class="logopic">
						<a href="index.html"><img src="images/logo.png"/></a>	
					</div>
				</div>
			</div>  <!-- end of first row-->

			<!--//-----------Navigation menu---------//-->
			
			<div class="row">
				<div class="col-md-12 nav_menu">
					<div class="navigation">
						<div class="separator"></div>
						<a href="causes.html">
							<div class="nav_item nav-text">(153) نتائج </div>
						<a>
						<div class="separator"></div>
						<a href="hangouts.html" >
							<div class="nav_item nav-text"> (235) برزة </div>
						</a>
						<div class="separator"></div>
						<a href="results.html" >
							<div class="nav_item nav-text"> (2465) مبادرة </div>
						</a>
						<div class="separator"></div>
					</div>
				</div>
			</div>
		</header> <!--End of header -->
		
		
		<div class="row">	
			<div class="col-md-12 page-header-block">
				<div class="wrapper">
					<span class="green-font big-title"> عـبـر </span>
					<span class="gray-text"> حتى يكون التعبير سمة من سمات التواصل بيننا و مفتاح النهوض ببلادنا</span>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-12 express-flowchart-details flowchart-item-details ">
				<ul class="wrapper list-style-none">
					<li class="display-inline-block top-vertical-align">
						<div class="cause">
								<span class="cause-paragraph">
									صوت للمبادرة التى تستحق العرض للمناقشه من وجهة نظرك
								</span>
								<div class="button-div">
									<span class="cause-button">
										<a class ="button" href="causes.html">إدعم مبادرة</a>
									</span>
								</div>
							</div>
					</li>
					
					<li class="display-inline-block top-vertical-align flowchart-items-separator">
						<img src="images/flowchart-items-separator.png">
					</li>
					
					<li class="display-inline-block top-vertical-align">
							<div class="cause">
								<span class="cause-paragraph">
									أطرح وجهة نظرك فى البرزة المعروضة و ساعد فى الوصول لأفضل النتائج
								</span>
								<div class="button-div">
									<span class="cause-button">
										<a class ="button" href="createcause.html">أبدأ مبادرة</a>
									</span>
								</div>
							</div>
					</li>
					
				</ul>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<div class="wrapper">
					<div class="row">
						<div class="col-md-9">
							<div class="latest-causes">
								<div class="row">
									<div class="col-md-12">
										<div class="inner_menu">
											<div class="main_title">مبادرات الاصدقاء</div>
											<div class="top-causes-separetor"><img src="images/top-causes-separetor.png"/></div>
											<div class="main_title active_title">أحدث المبادرات</div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">
										<div class="cause_block">
												<div class="box-count "> 
													<span>45 يوم متبقي</span>
													<span class="green-font title-font">0,458</span>
													<span class="green-font">شخص دعم المبادرة</span>
												</div>
												<div class="box-content">
													<div class="box-title"> 
														<div class="title-font green-font">عنوان المبادره</div>
														<div>مبارده في
															<a href="">الهويه</a> - بأمارة
															<a href="">دبي</a>
														</div>
													 </div>
													<div class="box-content-paragraph">
														<span> المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى 
														المحتوى 
														المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى</span>
														<a href="">المزيد...</a> 
													</div>
												</div>
												<div class="box-img">  </div>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="col-md-12">		
										<div class="cause_block">
												<div class="box-count "> 
													<span>45 يوم متبقي</span>
													<span class="green-font title-font">0,458</span>
													<span class="green-font">شخص دعم المبادرة</span>
												</div>
												<div class="box-content">
													<div class="box-title"> 
														<div class="title-font green-font">عنوان المبادره</div>
														<div>مبارده في
															<a href="">الهويه</a> - بأمارة
															<a href="">دبي</a>
														</div>
													 </div>
													<div class="box-content-paragraph">
														<span> المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى 
														المحتوى 
														المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى</span>
														<a href="">المزيد...</a> 
													</div>
												</div>
												<div class="box-img">  </div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="cause_block">
											<div class="box-count "> 
												<span>45 يوم متبقي</span>
												<span class="green-font title-font">0,458</span>
												<span class="green-font">شخص دعم المبادرة</span>
											</div>
											<div class="box-content">
												<div class="box-title"> 
													<div class="title-font green-font">عنوان المبادره</div>
													<div>مبارده في
														<a href="">الهويه</a> - بأمارة
														<a href="">دبي</a>
													</div>
												 </div>
												<div class="box-content-paragraph">
													<span> المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى 
													المحتوى 
													المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى</span>
													<a href="">المزيد...</a> 
												</div>
											</div>
											<div class="box-img">  </div>
										</div>
									</div>
								</div>

								<div class="row">
									<div class="col-md-12">
										<div class="pagination_block">
											<ul class="pagination">
												<li class="disabled"><a href="#"><strong><</strong></a></li>
												<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#">5</a></li>
												<li class="disabled"><a href="#"><strong>></strong></a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="right-side-menu">
								<div class="row">
									<div class="col-md-12">
										<div class="inner_menu">
											<div class="main_title active_title">اقسام المبادرات</div>
										</div>
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
								<div class="row right-side-menu-item">
									<div class="col-md-12">
											الهويه
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	
    
    
		<!--//-----------Footer ---------//-->
		
		<footer>
			<div class="row footer_wrapper">
				<div class="col-md-12 wrap privacy-font"> سياسة الخصوصية - شروط الاستخدام - اخلاء المسئولية - ميثاق المتعاملين - حقوق النسخ</div>
			</div>
			<div class="row">
				<div class="col-md-12 wrap copyright-font"> .جميع الحقوق &copy; 2013-2012 حكومة الامارات الالكترونية جميع الحققو محفوظة</div>
			</div>
		</footer>

		
		
	</div>  <!--End of div container -->
	
</body>
</html>