/ //-----------Main Content Area ---------//
/ //-----------flowchart---------//
.row.flowchart
  .col-md-1
  .col-md-10.main_flowchart
    .flowchart_container
      .flowchart_component
        %img.flowchart_img{src: "assets/part.png"}/
        %span.flowchart_title شارك
        %span.flowchart_brief فى نهضة البلد و تابع نتائج البرزات المقدمه المشكلة كلها هنا  يامعلم
      .flowchart_arrow
        %img{src: "assets/arrow.png"}/
      .flowchart_component
        %img.flowchart_img{src: "assets/comm.png"}/
        %span.flowchart_title تواصل
        %span.flowchart_brief أطرح وجهة نظرك فى البرزة المعروضه و ساعد فى الوصول لافضل النتائج
      .flowchart_arrow
        %img{src: "assets/arrow.png"}/
      .flowchart_component
        %img.flowchart_img{src: "assets/exp.png"}/
        %span.flowchart_title عبـر
        %span.flowchart_brief حتى يكون التعبير سمة من سمات التواصل بيننا و مفتاح النهوض ببلادنا
  .col-md-1
/ //-----------flowchart details---------//
.flowchart-details
  .express-flowchart-details.flowchart-item-details
    %ul.wrapper.list-style-none
      %li.display-inline-block.top-vertical-align
        .cause
          %span.cause-paragraph
            \صوت للمبادرة التى تستحق العرض للمناقشه من وجهة نظرك
          .button-div
            %span.cause-button
              %a.button{href: "causes.html"} إدعم مبادرة
      %li.display-inline-block.top-vertical-align.flowchart-items-separator
        %img{src: "assets/flowchart-items-separator.png"}
        %li.display-inline-block.top-vertical-align
          .cause
            %span.cause-paragraph
              \أطرح وجهة نظرك فى البرزة المعروضة و ساعد فى الوصول لأفضل النتائج
            .button-div
              %span.cause-button
                %a.button{href: "createcause.html"} أبدأ مبادرة
    .communicate-flowchart-details.flowchart-item-details.hidden
      %ul.wrapper.list-style-none
        %li.display-inline-block.top-vertical-align
          .hangout
            %span.hangout-title البرزة القادمة
            %span.hangout-paragraph
              \معالى/الشيخ حمدانبن مبارك ال نهيان
              %br/
              \وزير التعليم العالى و البحث العلمى
              %br>/
              \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
            %span.hangout-img
              %img{src: "assets/profilePic.jpg"}/
        %li.display-inline-block.top-vertical-align.flowchart-items-separator
          %img{src: "assets/flowchart-items-separator.png"}
          %li.display-inline-block.top-vertical-align
            .hangout
              %span.hangout-title البرزة الماضيه
              %span.hangout-paragraph
                \معالى/الشيخ حمدانبن مبارك ال نهيان
                %br>/
                \وزير الاشغال العامة
                %br>/
                \وتمت مناقشه مبادرة تطويرالاشغال العامة بدبى
              %span.hangout-img
                %img{src: "assets/profilePic.jpg"}/
      .participate-flowchart-details.flowchart-item-details.hidden
        .wrapper
          .final-results
            %span.depend
              %span.final-results-title واعتمد هذاالقرار من
              %span.final-results-paragraph
                \معالى/الشيخ حمدانبن مبارك ال نهيان
                %br>/
                \وزير الاشغال العامة
              %span.final-results-img
                %img{src: "assets/profilePic.jpg"}/
            %span.final
              %span.final-results-title أخر النتائج
              %span.final-results-sub-title بمناقشة مبادرة بناء اكبر صرح تعليمى بالمنطقة تم الاتفاق على التالى
              %span.final-results-paragraph
                \لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية
                \هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. ك
                \ان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر ع
                \ندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائ
    / //-----------left sidebar---------//
    .row
      .col-md-1
      .col-md-4.left-sidebar
        .main_title.active_title برزات قادمة
        %img.home-calendar{src: "assets/calendar.png"}

          
      .col-md-6.latest-causes
        .inner_menu
          .main_title مبادرات الاصدقاء
          .top-causes-separetor
            %img{src: "assets/top-causes-separetor.png"}/
          .main_title.active_title أحدث المبادرات
        .cause_block
          .box-count
            %span 45 يوم متبقي
            %span.green-font.title-font 0,458
            %span.green-font شخص دعم المبادرة
          .box-content
            .box-title
              .title-font.green-font عنوان المبادره
              %div
                \مبارده في
                %a{href: ""} الهويه
                \- بأمارة
                %a{href: ""} دبي
            .box-content-paragraph
              %span
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
                \المحتوى
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
              %a{href: ""} المزيد...
          .box-img
        .cause_block
          .box-count
            %span 45 يوم متبقي
            %span.title-font 0,458
            %span.green-font شخص دعم المبادرة
          .box-content
            .box-title
              .title-font.green-font عنوان المبادره
              %div
                \مبارده في
                %a{href: ""} الهويه
                \- بأمارة
                %a{href: ""} دبي
            .box-content-paragraph
              %span
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
                \المحتوى
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
              %a{href: ""} المزيد...
          .box-img
        .cause_block
          .box-count
            %span 45 يوم متبقي
            %span.title-font 0,458
            %span.green-font شخص دعم المبادرة
          .box-content
            .box-title
              .title-font.green-font عنوان المبادره
              %div
                \مبارده في
                %a{href: ""} الهويه
                \- بأمارة
                %a{href: ""} دبي
            .box-content-paragraph
              %span
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
                \المحتوى
                \المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى المحتوى
              %a{href: ""} المزيد...
          .box-img
        .pagination_block
          %ul.pagination
            %li.disabled
              %a{href: "#"}
                %strong
            %li.active
              %a{href: "#"}
                1
                %span.sr-only (current)
            %li
              %a{href: "#"} 2
            %li
              %a{href: "#"} 3
            %li
              %a{href: "#"} 4
            %li
              %a{href: "#"} 5
            %li.disabled
              %a{href: "#"}
                %strong >
        .col-md-1