%html
  %body
    %div
      .row
        .col-md-12.page-header-block
          .wrapper
            %span.green-font.big-title شـارك
            %span.gray-text فى نهضة البلاد وتابع نتائج البرزات القادمة
      .row
        .col-md-12.participate-flowchart-details.flowchart-item-details
          .wrapper
            .row.final-results
              .col-md-4.depend
                %span.final-results-title واعتمد هذاالقرار من
                %span.final-results-paragraph
                  د/خالد فهمي
                  %br>/
                  وزير التنمية المحلية
                %span.final-results-img
                  =image_tag "adel.jpg"
              .col-md-8.final
                %span.final-results-title أخر النتائج
                %span.final-results-sub-title بمناقشة مبادرة بناء اكبر صرح تعليمى بالمنطقة تم الاتفاق على التالى
                %span.final-results-paragraph
                  لوريم إيبسوم هو ببساطة نص شكلي (بمعنى أن الغاية
                  هي الشكل وليس المحتوى) ويُستخدم في صناعات المطابع ودور النشر. ك
                  ان لوريم إيبسوم ولايزال المعيار للنص الشكلي منذ القرن الخامس عشر ع
                  ندما قامت مطبعة مجهولة برص مجموعة من الأحرف بشكل عشوائ
      .row
        .col-md-12
          .wrapper
            .inner_menu
              .main_title.active_title نتائج المبادرات
            .row.cause-result-wrapper
              .col-md-6.cause-result-item
                .row
                  .col-md-10
                    .timeline-item-supporter
                      .green-font.timeline-item-supporter-title
                        عادل لبيب
                      .green-font.timeline-item-supporter-sub-title
                        وزير التنمية المحلية
                      .light-text.timeline-item-supporter-sub-date
                        تاريخ الاحد 11 مايو 2014
                  .col-md-2
                    .timeline-item-supporter-img
                      =image_tag "adel.jpg"
                .timeline-item-details.gray-text
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
              .col-md-6.cause-result-item
                .row
                  .col-md-9
                    .green-font.timeline-item-supporter-title
                      انشاء اطول علم فى العالم
                    .timeline-item-supporter-sub-title
                      مبادرة فى
                      %span.green-font الهويه
                    .timeline-item-details.gray-text
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  .col-md-3
                    .cause-result-img
                    .green-font.title-font 333,333
                    .light-green-font.cause-result-sub-title
                      شخص دعم المبادرة
            .row.cause-result-wrapper
              .col-md-6.cause-result-item
                .row
                  .col-md-10
                    .timeline-item-supporter
                      .green-font.timeline-item-supporter-title
                        عادل لبيب
                      .green-font.timeline-item-supporter-sub-title
                        وزير التنمية المحلية
                      .light-text.timeline-item-supporter-sub-date
                        تاريخ الاحد 11 مايو 2014
                  .col-md-2
                    .timeline-item-supporter-img
                      %img{src: ""}/
                .timeline-item-details.gray-text
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
              .col-md-6.cause-result-item
                .row
                  .col-md-9
                    .green-font.timeline-item-supporter-title
                      انشاء اطول علم فى العالم
                    .timeline-item-supporter-sub-title
                      مبادرة فى
                      %span.green-font الهويه
                    .timeline-item-details.gray-text
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  .col-md-3
                    .cause-result-img
                    .green-font.title-font 333,333
                    .light-green-font.cause-result-sub-title
                      شخص دعم المبادرة
            .row.cause-result-wrapper
              .col-md-6.cause-result-item
                .row
                  .col-md-10
                    .timeline-item-supporter
                      .green-font.timeline-item-supporter-title
                        عادل لبيب
                      .green-font.timeline-item-supporter-sub-title
                        وزير التنمية المحلية
                      .light-text.timeline-item-supporter-sub-date
                        تاريخ الاحد 11 مايو 2014
                  .col-md-2
                    .timeline-item-supporter-img
                      %img{src: ""}/
                .timeline-item-details.gray-text
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
              .col-md-6.cause-result-item
                .row
                  .col-md-9
                    .green-font.timeline-item-supporter-title
                      انشاء اطول علم فى العالم
                    .timeline-item-supporter-sub-title
                      مبادرة فى
                      %span.green-font الهويه
                    .timeline-item-details.gray-text
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                      تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل تفاصيل
                  .col-md-3
                    .cause-result-img
                    .green-font.title-font 333,333
                    .light-green-font.cause-result-sub-title
                      شخص دعم المبادرة
            .row
              .col-md-12
                .pagination_block
                  %ul.pagination
                    %li.disabled
                      %a{href: "#"}
                        %strong
                    %li.active
                      %a{href: "#"}
                        1
                        %span.sr-only (current)
                    %li
                      %a{href: "#"} 2
                    %li
                      %a{href: "#"} 3
                    %li
                      %a{href: "#"} 4
                    %li
                      %a{href: "#"} 5
                    %li.disabled
                      %a{href: "#"}
                        %strong >
    / End of div container