.row.padding-bottom
	.col-md-12
		.col-md-6
		.col-md-5
			.main_title إضافة تحديث للمبادرة
			%br
	.col-md-4
	.col-md-6
		.main_title.green-font
			#{link_to(@initiative.title,{:controller => "initiatives", :action => "show", :id => @initiative.id})}
		.inner_menu
			.main_title.title-font محتوي التحديث
		%form{action: "/update/create", name:"myForm"}
			%input{type:"hidden", name:"id", value: @initiative_id}
			%textarea.form-control{rows:"10",name: "description",class: "form-control ckeditor"}
			%input.btn.green-btn{type:"submit", value:"اضف التحديث"}
		%br
	.col-md-2
	.cause-wrapper-paragraph
		
